@media (max-width: 1200px)
    .list
        &__item
            margin-right: 75px

    .title
        font-size: 70px

@media (max-width: 992px)
    .list
        &__item
            margin-right: 50px

    .title
        font-size: 65px

@media (max-width: 768px)
    .header
        &__menu
            display: none

    .burger-menu
        display: flex

    .hero
        &-main
            &__title
                width: 380px

    .title
        font-size: 45px

    .footer
        &__container
            flex-direction: column
        &__list
            margin-top: 15px
            flex-wrap: wrap
            justify-content: center
        &__item
            margin-right: 30px

@media (max-width: 576px)
    .hero
        &-main
            &__title
                width: 320px

    .title
            font-size: 25px
