.burger-menu
    display: none
    align-items: spac
    justify-content: space-between
    flex-direction: column
    width: 16px
    height: 16px
    padding: 2px 0
    cursor: pointer
    &__item
        display: block
        width: 100%
        height: 2px
        background: #FFFFFF
        border-radius: 2px
        transition: all .3s ease
    &--active
        .burger-menu
            &__item:first-child
                display: none
            &__item:nth-of-type(2)
                transform: rotate(45deg)
                &::before
                    content: ''
                    display: block
                    width: 100%
                    height: 2px
                    background: #FFFFFF
                    border-radius: 2px
                    transform: rotate(-90deg)
            &__item:last-child
                display: none
